


.vue_owl_15{
    // color:red;
    margin:5pt;
}

.vue_owl_15 .btn{
    margin-right:5pt;
    margin-top:5pt;
    margin-bottom:5pt;
}

.vue_owl_15 table{
    border-top: 1px solid gray;
}

.vue_owl_15 th,.vue_owl_15 td {
    border-top: 1px solid gray;
}


h2{
    margin-top:10pt;
}